.flx-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
} 
.dir-col {
    flex-direction: column;
}	
.horizontal {
display: flex;
flex-direction: row;
align-items: center;
}

.vertical {
height: 100%;
}

.vertical circle {
margin: 10px 0;
}

circle {
z-index:99;
}
path {
z-index: 1;
}
circle:hover {
fill: lightblue;
stroke:black;
}

#md-content {
width: calc(100% - 100px);
padding: 10px;
}