{% include headings/with_link.html level=2 text="Botón de Support en la cabecera cuando el menú está cerrado" %}

{% include btn_header.html src="public/mushroom_close.gif" href="#" alt="Mushroom close menu" component_class="background-black" width=67 img_class="w-67px" %}

{% include headings/with_link.html level=2 text="Botón de Support en la cabecera cuando el menú está abierto" %}
{% include btn_header.html src="public/mushroom_open.gif" href="#" alt="Mushroom open menu" component_class="background-transparent" width=67 img_class="w-67px" %}
