{% include headings/h2.html text="Índice de posts en el menú" %}

<article class="row row-cols-1 row-cols-md-2 row-cols-lg-3 no-gutters">
  {% include cover_post/menu.html title="Foreword" src="public/placeholder.png" alt="Descripción de la imagen" href="https://sutty.nl/" %}

  {% include cover_post/menu.html author="Kola Heyward-Rotimi" title="Qubit Guarantee" src="public/placeholder.png" alt="Descripción de la imagen" href="https://sutty.nl/" %}

  {% include cover_post/menu.html author="Eeshita Kapadiya and Mrinalini Sebastian" title="RE: Sister" src="public/placeholder.png" alt="Descripción de la imagen" href="https://sutty.nl/" %}
</article>

{% include headings/h2.html text="Índice de posts en el home" %}

<article class="row row-cols-1 row-cols-md-2 row-cols-lg-3 no-gutters">
  {% include cover_post/home.html title="Foreword" src="public/placeholder.png" alt="Descripción de la imagen" href="https://sutty.nl/" description="A letter from the editors." %}

  {% include cover_post/home.html author="Kola Heyward-Rotimi" title="Qubit Guarantee" src="public/placeholder.png" alt="Descripción de la imagen" href="https://sutty.nl/" description="A cybersecurity specialist named Kurt uses his employers' quantum computing platform to help corporations nullify ransomware attacks--but a routine job goes far off-script when he's sent to Raleigh, North Carolina." %}

  {% include cover_post/home.html author="Eeshita Kapadiya and Mrinalini Sebastian" title="RE: Sister" src="public/placeholder.png" alt="Descripción de la imagen" href="https://sutty.nl/" description="What happens when two women write to each other about food?" %}
</article>
