{% include headings/h2.html text="Cabecera con el menú cerrado" %}

{% include
	header_close.html
	container_class="stroke-white"
	menu_class="w-36px w-md-54px"
	component_class="background-black" %}

{% include headings/h2.html text="Cabecera con el menú abierto" %}

{% include
	header_open.html
	container_class="fill-black"
	menu_class="w-36px w-md-54px"
	component_class="background-white" %}

{% include headings/h2.html text="Cabecera con toggler de menú funcionando" %}

{% include header_toggler.html %}
