{% include headings/with_link.html level=2 text="Cabecera con el menú abierto" %}

<div class="d-flex position-relative background-white justify-content-between align-items-center p-3">
	{% include menu_open.html class="w-36px w-md-54px" container_class="fill-black" %}

	{% include
		header.html
		logo_src="public/logo_black.png"
		logo_href="?#"
		logo_alt="Compost"
		logo_width=333
		logo_class="w-221px w-md-333px"
		btn_src="public/mushroom_open.gif"
		btn_href="#"
		btn_alt="Mushroom open menu"
		btn_class="w-44px w-md-67px"
		btn_width=67 %}
</div>
