<div class="mb-3">
  {% include headings/h2.html text="Todos los botones visibles" %}

  {% include navigation_post.html src_previous="public/arrow_previous.png" src_home="public/home.png" alt_previous=site.i18n.previous_page src_next="public/arrow_next.png" href_previous="#biografía-de-autore-en-los-artículos" href_home="?#" href_next="#imagen-con-link-de-sección-supporters" alt_next=site.i18n.next_page %}
</div>

<div class="mb-3">
  {% include headings/h2.html text="Cuando se llega al principio del indice de contenido" %}

  {% include navigation_post.html src_previous="public/arrow_previous.png" alt_previous=site.i18n.previous_page src_home="public/home.png" src_next="public/arrow_next.png" href_home="?#" href_next="#imagen-con-link-de-sección-supporters" alt_next=site.i18n.next_page %}
</div>

<div class="mb-3">
  {% include headings/h2.html text="Cuando se llega al final del indice de contenido" %}

  {% include navigation_post.html src_previous="public/arrow_previous.png" alt_previous=site.i18n.previous_page src_home="public/home.png" href_previous="#biografía-de-autore-en-los-artículos" src_next="public/arrow_next.png" href_home="?#" alt_next=site.i18n.next_page %}
</div>
