{%- comment -%}

Cabecera y menú con toggler

{%- endcomment -%}

<div class="d-flex position-relative background-black justify-content-between align-items-center p-3">

	{% assign menu-id = page.uuid | prepend: 'r-' %}

	{%- capture menu_svg -%}
		{% include menu_close.html class="w-36px w-md-54px" container="stroke-white" %}
	{%- endcapture -%}

	{% include toggler/toggler_label.html id=menu-id class="m-0" content=menu_svg %}

	{% include toggler/toggler.html id=menu-id extra='data-action="toggle-media#toggle" data-menu-target="toggler"'%}
	<div class="toggled position-absolute top-0 left-0 w-100 zindex-dropdown">
		<div class="d-flex background-white justify-content-between align-items-center p-3">

			{% assign menu-id = page.uuid | prepend: 'r-' %}
			{%- capture menu_svg -%}
				{% include menu_open.html class="w-36px w-md-54px" container="fill-black" %}
			{%- endcapture -%}

			{% include toggler/toggler_label.html id=menu-id class="m-0" content=menu_svg %}

			{% include
				header.html
				src_logo="public/logo_black.png"
				href_logo="?#"
				alt_logo="Compost"
				width_logo=333
				class_logo="w-221px w-md-333px"
				src_btn="public/mushroom_open.gif"
				href_btn="#"
				alt_btn="Mushroom open menu"
				class_btn="w-44px w-md-67px"
				width_btn=67 %}
		</div>
	</div>

	{% include
		header.html
		src_logo="public/logo_white.png"
		href_logo="?#"
		alt_logo="Compost"
		width_logo=333
		class_logo="w-221px w-md-333px"
		src_btn="public/mushroom_close.gif"
		href_btn="#"
		alt_btn="Mushroom close menu"
		class_btn="w-44px w-md-67px"
		width_btn=67 %}
</div>
