{%- comment -%}

Cabecera con menú abierto

@param :component_class [String] Las clases del componente
@param :menu_class [String] Las clases del menú
@param :container_class [String] Las clases del contenedor del menú
{%- endcomment -%}

<div class="d-flex position-relative {{ include.component_class }} justify-content-between align-items-center p-3">
	{% include menu_open.html class=include.menu_class container_class=include.container_class %}

	{% include
		header.html
		logo_src="public/logo_black.png"
		logo_href="?#"
		logo_alt="Compost"
		logo_width=333
		logo_class="w-221px w-md-333px"
		btn_src="public/mushroom_open.gif"
		btn_href="#"
		btn_alt="Mushroom open menu"
		btn_class="w-44px w-md-67px"
		btn_width=67 %}
</div>
