{%- comment -%}

componente de imagen que tiene un link [url]

@param :src [String]
@param :href [String] El link
@param :image [Image] La imagen
@param :width [Integer] Ancho de la imagen
@param :alt [String] El alt de la imagen
{%- endcomment -%}

<div
	class="position-relative">
	<a class="stretched-link"
		 href="{{ include.href | default: "#" }}"
		 target="_blank">
	 </a>
  {% include picture.html src=include.src width=include.width alt=include.alt img_class="w-100 h-100 object-fit-cover" %}
</div>
