{%- comment -%}

Los botones de navegación de los posts

@param :image [Image] La imagen
@param :href [String] El link
{%- endcomment -%}

<div class="d-flex align-items-center">
	{% include image_with_link.html src="public/arrow_left.png" alt="Previous" width=40 href="#imagen-con-link" img_class="px-2" %}

	{% include image_with_link.html src="public/home.png" alt="Home" width=60 href="?#" img_class="px-2" %}

	{% include image_with_link.html src="public/arrow_right.png" alt="Next" width=40 href="#imagen-con-link-externo" img_class="px-2" %}
</div>
