{%- comment -%}

Los botones de navegación de los posts

@param :href [String] El link
{%- endcomment -%}

<div class="d-flex align-items-center">
	{% include image_with_link.html src="public/arrow_left.png" alt=site.i18n.previous_page width=40 href="#imagen-con-link" img_class="px-2" %}

	{% include image_with_link.html src="public/home.png" alt=site.i18n.home width=60 href="?#" img_class="px-2" %}

	{% include image_with_link.html src="public/arrow_right.png" alt=site.i18n.next_page width=40 href="#imagen-con-link-externo" img_class="px-2" %}
</div>
