{%- comment -%}

Los botones de navegación de los posts

@param :src_previous [String] El src de imagen de Previous
@param :src_next [String] El src de imagen de Next
@param :src_home [String] El src de imagen de Home
@param :href_previous [String] El link de Previous
@param :href_home [String] El link de Home
@param :href_next [String] El link de Next
@param :alt_previous [String] El alt de Previous
@param :alt_next [String] El alt de Next
{%- endcomment -%}

{% assign previous_class = include.href_previous | blank | value_if: "invisible" %}
{% assign next_class = include.href_next | blank | value_if: "invisible" %}

<div class="d-flex align-items-center">
	<div
		class="mt-3 transform-scale-n8 transform-scale-hover-1"
		{% unless previous_class %}
			aria-hidden="true"
		{% endunless %}>
		{% include image_with_link.html src=include.src_previous alt=include.alt_previous width=51 href=include.href_previous img_class="px-2" component_class=previous_class %}
	</div>

	<div
		class="transform-scale-n8 transform-scale-hover-1">
		{% include image_with_link.html src=include.src_home alt=site.i18n.home width=79 href=include.href_home img_class="px-2" %}
	</div>

	<div
		class="mt-3 transform-scale-n8 transform-scale-hover-1"
		{% unless next_class %}
			aria-hidden="true"
		{% endunless %}>
		{% include image_with_link.html src=include.src_next alt=include.alt_next width=51 href=include.href_next img_class="px-2" component_class=next_class %}
	</div>
</div>
