{%- comment -%}

La ficha de post en el índice de artículos.

@param :href [String] El link
@param :title [String] El título
@param :authors [String] Les autorxs
@param :description [String] La descripción
@param :src [String] La imagen
@param :alt [String] La descripción de la imagen
@param :title_class [String] Las clases del título
@param :author_class [String] Las clases de autorx
@param :description_class [String] Las clases de descripción
{%- endcomment -%}
<div
	class="position-relative px-2">
	<a
		class="stretched-link black hover-black text-decoration-none"
		href="{{ include.href | uri_escape }}"
		{{ include.href | start_with: "https://" | value_if: 'rel="noopener" target="_blank"' }}
		{{ include.href | start_with: "http://" | value_if: 'rel="noopener" target="_blank"' }}>
		<span class="sr-only">{{ include.alt }}</span>
	</a>

	{% include embed_responsive.html src=include.src width=700 x="700" y="350" alt=include.alt %}

	<p class="{{ include.title_class }}">{{- include.title -}}</p>

	<p class="{{ include.author_class }}">
		{% for author in include.authors %}
			{{- author.title -}}{% unless forloop.last %} {{ site.i18n.and }}{% endunless %}
		{% endfor %}
	</p>
	<p class="{{ include.description_class }}">{{- include.description -}}</p>
</div>
