{%- comment -%}

La ficha de post en el índice de artículos del menú.

@param :href [String] El link
@param :title [String] El título
@param :authors [String] Les autorxs
@param :src [String] La imagen
@param :alt [String] La descripción de la imagen
{%- endcomment -%}

{% include cover_post/generic.html
	authors=include.authors
	title=include.title
	src=include.src
	alt=include.alt
	href=include.href
	title_class="font-weight-bold text-uppercase m-0 pt-3 pb-2 letter-spacing-7 lead"
	author_class="text-uppercase letter-spacing-4 font-sm" %}
