@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $color, $rgb in $colors {
      .background#{$infix}-#{$color} {
        background-color: var(--#{$color});

        &:focus {
          background-color: var(--#{$color});
        }
      }

      .#{$color}#{$infix} {
        color: var(--#{$color});

        &:focus {
          color: var(--#{$color});
        }
      }

      /// Cambiar el color al pasar por encima o hacer foco
      ///
      /// @example html
      ///   <div class="black hover-red"></div>
      .hover-#{$color} {
        &:hover,
        &:focus-within {
          color: var(--#{$color}) !important;
        }
      }
    }

    @each $letter-spacing, $value in $letter-spacings {
      .letter-spacing#{$infix}-#{$letter-spacing} {
        letter-spacing: $value !important;
      }
    }

    .object-fit-cover#{$infix} {
      object-fit: cover;
    }
  }
}

.font-sm {
  font-size: 1rem * 1.0625;
}
