---
---

{{ site.posts | find: "layout", "theme" | yaml_to_scss: site.data.layouts.theme }}
{{ site.data.theme | yaml_to_scss }}

@import "bootstrap/scss/bootstrap";
@import "utilities";
@import "open_sans";
@import "open_sans_wght_700";
@import "content";
@import "work_sans_ital,wght_1,300";
