{%- comment -%}

Un botón con link, por ejemplo para Support Us.  Si el link es externo,
agregar el parámetro de seguridad noopener.

@param :href [String] El link
@param :text [String] El contenido

{%- endcomment -%}

<a
  href="{{ include.href | default: "#" }}"
  {{ include.href | start_with: "https://" | value_if: 'rel="noopener"' }}
  {{ include.href | start_with: "http://" | value_if: 'rel="noopener"' }}
  class="btn btn-primary w-100 d-flex align-items-center justify-content-center text-uppercase f-md-17">
  <span>{{- include.text -}}</span>
</a>
