{%- comment -%}

Un botón con contenido copiable, por ejemplo para Support Us.  Si el
link es externo, agregar el parámetro de seguridad noopener.

@param :copy [String] El texto copiable
@param :text [String] El contenido

{%- endcomment -%}

<button
  data-controller="button-copy"
  data-button-copy-text-value="{{ include.copy | escape_once }}"
  data-button-copy-confirmation-value="{{ site.i18n.button_copy.confirmation | replace: "%s", include.copy | escape_once }}"
  data-action="button-copy#copy"
  class="btn btn-primary btn-block text-uppercase f-md-17">
  <span>{{- include.text -}}</span>
</button>
