---
layout: "default"
---

{%- assign publication = site.posts | find: "layout", "publication" -%}
{%- assign posts = site.posts | where: "layout", "post" -%}
<div class="support-background">
  <div class="row align-items-center justify-content-center no-gutters m-0 container m-auto">
    {% include card_horizontal.html
      src=publication.image.path
      alt=publication.image.alt
      title=publication.title
      subtitle=publication.subtitle
      content=publication.content
    %}
  <article class="row row-cols-1 row-cols-md-2 row-cols-lg-3 no-gutters m-0 container">
    {% for post in posts %}
      {% include cover_post/home.html
        authors=post.authors
        src=post.image.path
        alt=post.image.alt
        title=post.title
        description=post.description
        href=post.url
      %}
    {% endfor %}
  </article>
  </div>

</div>
