---
layout: "default_with_menu"
---

<article id="{{ page.slug }}" class="container mx-auto max-w-780px my-4 px-20">
  <div class="mt-5">
    {% include headings/h1.html class="text-uppercase black hover-black letter-spacing-4 font-weight-bold mb-12" text=page.title %}

    {% if page.description %}
      {% include headings/h2.html class="text-uppercase letter-spacing-8 mb-20" text=page.description %}
    {% endif %}

    <div
      class="source-serif lead-md pt-20 content"
      data-controller="footnotes"
      data-action="resize@window->footnotes#resize"
      data-footnotes-container-width-value="{{ site.data.theme.footnotes_container_width }}"
      data-footnotes-sidenote-width-value="{{ site.data.theme.footnotes_sidenote_width }}"
      data-footnotes-padding-left-value="{{ site.data.theme.footnotes_padding_left }}"
      data-footnotes-offset-left-value="{{ site.data.theme.footnotes_offset_left }}"
      data-footnotes-footnote-class="{{ site.data.theme.footnotes_footnote_class | join: " " }}"
      data-footnotes-footnote-toggled-class="{{ site.data.theme.footnotes_footnote_toggled_class | join: " " }}"
      data-footnotes-sidenote-class="{{ site.data.theme.footnotes_sidenote_class | join: " " }}">
      {{ content }}
    </div>
  </div>
</article>
