---
layout: "default_with_menu"
---

{%- assign about = site.posts | find: "layout", "about" -%}
{%- assign back_covers = site.posts | where: "layout", "back_cover" -%}
{%- assign posts = site.posts | where: "layout", "post" | concat: back_covers -%}
{%- assign authors = site.posts | where: "layout", "author" -%}
{%- assign prev = page | prev: posts -%}
{%- assign next = page | next: posts -%}

<article id="{{ page.slug }}" class="container mx-auto max-w-780px my-4 px-20">
  {% include embed_responsive.html src=page.image.path alt=page.image.description x=2 y=1 width=780 component_class="shadow-sm" %}

  <div class="content mt-5">
    {% include headings/h1.html class="text-uppercase black hover-black letter-spacing-4 font-weight-bold" text=page.title %}

    {% if page.subtitle %}
      {% include headings/h2.html class="text-uppercase letter-spacing-1" %}
    {% endif %}

    {% unless page.authors == empty %}
      <p class="lead text-uppercase letter-spacing-5">
        {% for author in page.authors %}
          {{ author.title }}{% unless forloop.last %} {{ site.i18n.and }} {% endunless %}
        {% endfor %}
      </p>
    {% endunless %}

    <div class="source-serif lead-md pt-2">
      {{ content }}
    </div>
  </div>

  <footer class="d-flex flex-column align-items-center mt-60">
    {% unless page.authors == empty or page.show_biography == false  %}
      {% for author in page.authors %}
        {% include biography.html text=author.content %}
      {% endfor %}
    {% endunless %}

    {% if page.license %}
      {% include license_block.html title=page.license content=about.license %}
    {% endif %}

    {% include navigation_post.html src_previous="public/arrow_previous.png" src_home="public/home.png" src_next="public/arrow_next.png" href_previous=prev.url href_home="?#" href_next=next.url %}
  </footer>
</article>
