---
layout: "default_with_menu"
---

{%- assign about = site.posts | find: "layout", "about" -%}
{%- assign authors = site.posts | where: "layout", "author" -%}
{%- assign buttons = site.posts | where: "layout", "button" -%}
{%- assign buttons = site.posts | where: "layout", "button_copy" | concat: buttons | order -%}
{%- assign goals = site.posts | where: "layout", "goal" -%}

<article
  data-controller="support-us"
  data-support-us-monetization-url-value="{{ page.monetization_url }}"
  id="{{ page.slug }}" class="container mx-auto max-w-780px py-4 mt-lg-5 px-20">

  {% include headings/h1.html class="text-uppercase black hover-black letter-spacing-4 font-weight-bold mb-4" text=page.title %}

	<p class="lead-md content">{{ page.description }}</p>

	<div class="row row-cols-2 justify-content-center my-80 no-gutters">
    {% for button in buttons %}
      <div class="col d-flex p-1">
        {% if button.layout == "button" %}
          {% include buttons/with_link.html href=button.url text=button.title %}
        {% elsif button.layout == "button_copy" %}
          {% include buttons/with_copy.html copy=button.text text=button.title %}
        {% endif %}
      </div>
    {% endfor %}
	</div>

	<div class="lead-md content">
		{{-
			page.section_1
			| replace: "BALANCE", '<code data-support-us-target="balance"></code>'
			| replace: "DATE", '<span data-support-us-target="date"></span>' -}}
	</div>

	<div class="my-4">
		{% for goal in goals %}
			{% include goal.html title=goal.title text=goal.description value_now=1000 value_max=goal.value_max currency=goal.currency %}
		{% endfor %}
	</div>

	<div class="lead-md content">{{ page.section_2 }}</div>
</article>
