---
layout: "default_with_menu"
---

{%- assign about = site.posts | find: "layout", "about" -%}
{%- assign authors = site.posts | where: "layout", "author" -%}
{%- assign buttons = site.posts | where: "layout", "button" -%}
{%- assign goals = site.posts | where: "layout", "goal" -%}

<article id="{{ page.slug }}" class="mx-auto max-w-780px py-4">
	<div class="content mt-5">
		{% include headings/h1.html class="text-uppercase black hover-black letter-spacing-1 font-weight-bold" text=page.title %}

		<p class="lead-md pt-2">{{ page.description }}</p>

		<div class="row row-cols-2 no-gutters justify-content-center my-5">
			{% for button in buttons %}
				<div class="col p-1">{% include buttons/with_link.html href=button.url text=button.title %}</div>
			{% endfor %}
		</div>

		<div class="lead-md pt-2">{{ page.section_1 }}</div>

		<div class="">
			{% for goal in goals %}
				{% include goal.html title=goal.title text=goal.description value_now=1000 value_max=goal.value_max %}
			{% endfor %}
		</div>

		<div class="lead-md pt-2">{{ page.section_2 }}</div>
	</div>
</article>
