---
layout: default
---

{% capture components %}
  {% for component in site.data.components %}
    {% assign component_include = "theme/" | append: component | append: ".html" %}
    {% assign title = component | replace: "_", " " | capitalize %}

    <section id="{{ component | replace: "_", "-" }}" class="mb-5">

      <header>
        {% include headings/h1.html text=title %}
      </header>

      {% include {{ component_include }} %}
    </section>
  {% endfor %}
{% endcapture %}

<div class="container-fluid">
  <div class="row">
    <aside class="col-12 col-md-3 sticky-top">
      <ol class="list-unstyled">
        {%- assign toc = components | table_of_contents: 1 -%}

        {% for item in toc %}
          <li>
            <a href="#{{ item.id }}" data-turbo="false">
              {{- item.title -}}
            </a>
          </li>
        {% endfor %}
      </ol>
    </aside>

    <section class="col-12 col-md">
      {{ components }}
    </section>
  </div>
</div>

<div class="container mb-5">
  {% include headings/h1.html text="Botón de Support en la cabecera" %}

  {% include headings/h2.html text="Botón de Support en la cabecera cuando el menú está cerrado" %}
  {% include icon_menu_open.html src="public/mushroom_close.gif" href="#" alt="Mushroom close menu" component_class="background-black" width=100 %}

  {% include headings/h2.html text="Botón de Support en la cabecera cuando el menú está abierto" %}
  {% include icon_menu_open.html src="public/mushroom_open.gif" href="#" alt="Mushroom open menu" component_class="background-transparent" width=100 %}
</div>
